@import url(./variables.css);

.shared {
  width: calc(100% - var(--sidebar-width));
  height: 300vh;
  margin-left: var(--sidebar-width);
}
.sb {
  bottom: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(104, 104, 104);
}

@media only screen and (max-width: 576px) {
  .shared {
    background-color: blue;
    width: 100%;
    margin: 0;
  }
  .sb {
    height: fit-content;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 225, 1);
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .shared {
    background-color: rgb(0, 255, 55);
    width: 100%;
    margin: 0;
  }
  .sb {
    height: fit-content;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 225, 0);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .shared {
    background-color: rgb(208, 255, 0);
    margin: 0 var(--sidebar-width);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .shared {
    background-color: rgb(0, 255, 225);
    margin: 0 var(--sidebar-width);
  }
}

@media only screen and (min-width: 1441px) {
  .shared {
    background-color: rgb(255, 0, 251);
    margin: 0 var(--sidebar-width);
  }
}
