@import url(./variables.css);

.shared {
  height: fit-content;
  background-color: var(--black-1);
  min-height: 100vh;
  transition: all 0.1s;
  max-width: 100vw;
  overflow-x: hidden;
}
.normal {
  width: calc(100% - var(--sidebar-width));
}
.full {
  width: calc(100% - var(--sidebar-width-close));
}
.sb {
  bottom: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: space-around;
  transition: all 0.1s;
}

@media only screen and (max-width: 576px) {
  .shared {
    width: 100%;
    margin: 0;
  }
  .sb {
    height: fit-content;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .shared {
    width: 100%;
    margin: 0;
  }
  .sb {
    height: fit-content;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 225, 0);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .shared {
    margin: 0 var(--sidebar-width);
  }
  .normal {
    margin: 0 var(--sidebar-width);
  }
  .full {
    margin: 0 var(--sidebar-width-close);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .shared {
    margin: 0 var(--sidebar-width);
  }
  .normal {
    margin: 0 var(--sidebar-width);
  }
  .full {
    margin: 0 var(--sidebar-width-close);
  }
}

@media only screen and (min-width: 1441px) {
  .sb {
    width: var(--sidebar-width-big);
  }
  .shared {
    width: calc(100% - var(--sidebar-width-big));
  }
  .normal {
    width: calc(100% - var(--sidebar-width-big));
    margin: 0 var(--sidebar-width-big);
  }
  .full {
    width: calc(100% - var(--sidebar-width-close));
    margin: 0 var(--sidebar-width-close);
  }
}
