@import url(../styles/variables.css);
@import url(../styles/layout.module.css);

.main {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.contacts_wrapper,
.messages_container {
  height: 100%;
}
.contacts_wrapper {
  width: 30%;
  border-right: 1px solid var(--x29xchp);
}
.messages_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
.messages_wrapper{
  flex: 1 1 auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  color: white;
  background-color: blue;
}
.contact_search {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid var(--x29xchp);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.search_form {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.search_input,
.search_button {
  border: 1px solid var(--x29xchp);
  background-color: var(--black-1);
  color: var(--bw);
  padding: 10px 5px;
  outline: none;
  transition: all 0.5s;
  z-index: 10;
}
.search_input {
  border-radius: 100px 0px 0px 100px;
  width: 100%;
  border-right: none;
}
.search_input:focus,
.search_input:focus ~ .search_button {
  border-color: var(--instagram-blue);
}
.search_button {
  border-radius: 0 100px 100px 0;
  border-left: none;
  cursor: pointer;
}
.search_result_wrapper {
  background-color: rgba(0, 0, 255, 0.254);
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100%;
  border-radius: 20px;
  transition: all 0.25s;
  background-color: var(--black-1);
  border: 1px solid var(--x29xchp);
  overflow-y: scroll;
  padding-top: 2.2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.contacts_container {
}
